<div fxLayout="row" fxLayoutAlign="center stretch" style="margin: 10px;">

    <div fxLayout="column" fxLayoutAlign="center stretch" style="margin: 10px;">
        <h3>Driver Profile</h3>

        <div class="mat-elevation-z8">
                <img fxFlex="200px" class="mat-elevation-z3"  alt=" "
                    onerror="this.src='assets/no_image.png';">
        </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="center stretch" style="margin: 10px;">
        <h3>Driver Bank Info</h3>
        <div class="mat-elevation-z8">

        </div>
    </div>
</div>