/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
    width: 100%;
}

.data-container {
    padding: 30px;
    margin: 12px;
}

.table-container {
    width: 99%;
    max-width: 99%;
    overflow: auto;
    margin: 12px;
}